*{ margin: 0; padding: 0;}

body {
    background-image: url("pictures/background1_1.jpg");
    background-repeat: no-repeat;
    -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  
    
    
}

.navbar-default {
background-color: transparent;

}

#box1 {
    width: 500px;
    height: 150px;
    background-color: red;
    margin: 0 auto;
    margin-top: 30px; 
      background-image: url("pictures/Protossbanner.jpg");
      
      /*Border-Control*/
      border-radius: 10px;
      border: 2px solid;
      
     
    
}

#box2 {
    width: 500px;
    height: 150px;
   
   float: left;
     margin-left: 250px;
     margin-top: 50px;
     background-image: url("pictures/TerranBanner.jpg");
     
     /*Border-Control*/
      border-radius: 10px;
     border: 1px solid;
}

#box3 {
    width: 500px;
    height: 150px;
   
  float: right;
    margin-right: 250px;
     margin-top: 50px;
      
     background-image: url("pictures/ZergBanner.jpg");
     
     /*Border-Control*/
      border-radius: 10px;
     border: 1px solid;
}

#box4 {
    
    width: 250px;
    height: 250px;
   
    margin: 0 auto;
    margin-top: 50px;
    position: relative;
    
}

#box4 img {
    
    height: 250px;
    width: 250px;
    
}



img {
    
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin: 0 auto;
    
}

html {
font-family: none;
-webkit-text-size-adjust: 100%;
-ms-text-size-adjust: 100%;


  
}

.navbar {
position: relative;
min-height: 50px;
margin-bottom: 20px;
border: 1px solid transparent;

}

.navbar button {
   
      background-color: transparent;
      border-color: #5E5E5E;
       color: black;
       margin: 0 auto;

}

.container-fluid{
     border-radius: 0px;
     background-color: transparent;
    background-image: -webkit-gradient(
	linear,
	left top,
	left bottom,
	color-stop(0, #272727),
	color-stop(0.87, #5E5E5E),
	color-stop(1, #0D0C0D)
);
background-image: -o-linear-gradient(bottom, #272727 0%, #5E5E5E 87%, #0D0C0D 100%);
background-image: -moz-linear-gradient(bottom, #272727 0%, #5E5E5E 87%, #0D0C0D 100%);
background-image: -webkit-linear-gradient(bottom, #272727 0%, #5E5E5E 87%, #0D0C0D 100%);
background-image: -ms-linear-gradient(bottom, #272727 0%, #5E5E5E 87%, #0D0C0D 100%);
background-image: linear-gradient(to bottom, #272727 0%, #5E5E5E 87%, #0D0C0D 100%);
    
}

.navbar-header a p {
    text-align: center;
    color: black;
    
    
}

#inloggning {
    background-color: red;
    width: 300px;
    height: 475px;
    
    position: absolute;
    
}
