*{ margin: 0; padding: 0;}

body {
    background-image: url("pictures/background1_1.jpg");
    background-repeat: no-repeat;
    -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  
    
    
}

.navbar-default {
background-color: transparent;

}

#box1 {
    width: 500px;
    height: 150px;
    background-color: red;
    margin: 0 auto;
    margin-top: 30px; 
      background-image: url("pictures/Protossbanner.jpg");
      
      /*Border-Control*/
      border-radius: 10px;
      border: 2px solid;
      
     
    
}

#box2 {
    width: 500px;
    height: 150px;
   
   float: left;
     margin-left: 250px;
     margin-top: 50px;
     background-image: url("pictures/TerranBanner.jpg");
     
     /*Border-Control*/
      border-radius: 10px;
     border: 1px solid;
}

#box3 {
    width: 500px;
    height: 150px;
   
  float: right;
    margin-right: 250px;
     margin-top: 50px;
      
     background-image: url("pictures/ZergBanner.jpg");
     
     /*Border-Control*/
      border-radius: 10px;
     border: 1px solid;
}

#box4 {
    
    width: 250px;
    height: 250px;
   
    margin: 0 auto;
    margin-top: 50px;
    position: relative;
    
}

#box4 img {
    
    height: 250px;
    width: 250px;
    
}



img {
    
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin: 0 auto;
    
}

html {
font-family: none;
-webkit-text-size-adjust: 100%;
-ms-text-size-adjust: 100%;


  
}

.navbar {
position: relative;
min-height: 50px;
margin-bottom: 20px;
border: 1px solid transparent;

}

.navbar button {
    margin-left: 40px;
      background-color: transparent;
      border-color: #5E5E5E;
       color: gray;
       background-color: black;
       

}

.container-fluid{
     border-radius: 2px;
     
     background-color: transparent;
    

    


}

.navbar-header a p {
    text-align: center;
    color: black;
    
    
}

#inloggning {
   color: silver;
    width: 300px;
    height: 300px;
    background-color: 
    position: absolute;
    margin-left: 20px;
    
}

#inloggning h1 {
    text-align: center;
    padding-bottom: 20px;
    font-family: Stencil std;
    color: silver;
    
    
}

.boxbutton {
     background-color: transparent;
      border-color: #5E5E5E;
       color: gray;
       background-color: black;
       margin-left: 60px; 
   
}

.boxforms1 {
    margin-left: 3px;
    margin-top: 20px;
   
}



